<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsoft.nis.mapper.nurserecord.NurseRecordHelperMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<!-- EMR_MLLB -->
	<select id="getHelpContent" resultType="HelpTree" flushCache="true">
		SELECT T.MLBH, T.MLBM, T.MLLB, T.MLMC, 0 ZFBZ
		FROM ENR_MLLB T
		WHERE T.MLLB = 2 AND T.ZXBZ != 1 ORDER BY MLBM
	</select>

	<select id="getHelperItem" resultType="HelpLeaf">
		SELECT T.ZSBH, T.ZSMC, T.MLBH, T.ZSNR
		FROM ENR_SXZS T, ENR_SXZSGL T1
		WHERE T.ZSBH = T1.ZSBH
		   AND ((T1.GLLB = 1 AND T1.GLBH = #{YSBH}) OR
			   (T1.GLLB = 2 AND T1.GLBH = #{XMBH}) OR (T1.GLLB = 3 AND T1.GLBH = 0) OR
			   (T1.GLLB = 3 AND T1.GLBH = #{JGBH}))
		   AND T.MLBH = #{MLBH}
		   AND ((T.ZSFL = 3) OR ((T.ZSFL = 1) AND (T.GSDM = #{YGDM})) OR
			   ((T.ZSFL = 2) AND (T.GSDM LIKE #{KSDM})))
	</select>
</mapper>